<div class="container main-container">
  <h1>Lista de Usuarios</h1>
  <hr />

  <p>
    <a class="btn btn-info" [routerLink]="['/usuarios/adicionar-novo']"
      >Novo Usuario</a
    >
  </p>

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>E-mail</th>
        <th>Data de Nascimento</th>
        <th>Escolaridade</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>
          {{ usuario.nome }}
        </td>
        <td>
          {{ usuario.sobrenome }}
        </td>
        <td>
          {{ usuario.email }}
        </td>
        <td>
          {{ usuario.dataNascimento | date : "dd/MM/yyyy" }}
        </td>
        <td>
          {{ usuario.escolaridade }}
        </td>
        <td class="text-right">
          <a
            class="btn btn-warning"
            [routerLink]="['/usuarios/detalhes', usuario.idUsuario]"
          >
            <span class="fa fa-search"></span> </a
          >&nbsp;
          <a
            class="btn btn-info"
            [routerLink]="['/usuarios/editar', usuario.idUsuario]"
          >
            <span class="fa fa-pencil-alt"></span> </a
          >&nbsp;
          <a
            class="btn btn-danger"
            [routerLink]="['/usuarios/excluir', usuario.idUsuario]"
          >
            <span class="fa fa-trash"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
